{
  "presets": [
    ["@babel/preset-env",{"targets":"Chrome 60"}],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "babel-plugin-transform-vue-jsx"
  ]
}
