{
  "parser": "babel-eslint",
  "plugins": ["import", "prettier"],
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle": [1, "always-multiline"],
    "no-underscore-dangle": 0,
    "import/no-named-as-default-member": "error",
    "import/first": ["error", "absolute-first"],
    "import/no-duplicates": "error",
    "import/newline-after-import": "error",
    "import/no-extraneous-dependencies": "error",
    "quotes": [2, "single", "avoid-escape"],
    "strict": 0,
    "no-unused-vars": 2,
    "no-undef": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["src", "node_modules"]
      }
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "ASTNode": true,
    "FlowTypeDescriptor": true,
    "Handler": true,
    "NodePath": true,
    "PropDescriptor": true,
    "PropTypeDescriptor": true,
    "Resolver": true
  }
}
